body {
	
}


.myAccordion {
	margin:10px;
}

.desp_header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#B3D4FF url(../assets/css/sprite.png) repeat-x scroll left -1300px;
border-bottom:1px solid #2647A0;
color:#000000;
height:50px;
left:0;
top:0;
width:100%;

}


#folder_list .yui-cms-item  .subheader{
    margin-left:10px;
    font-size:14px;
    
}

#folder_list .yui-cms-item  .hd {
    font-size:14px;
    color:black;

    
}

#folder_list .yui-cms-item  .bd{
   background-color:#ffffec;


}

#folder_list .yui-cms-item li a {
    text-decoration:underline;
    color:maroon;
}


#folder_list .yui-cms-item li a:hover {
     color:white;
     background-color:maroon;
     text-decoration:none;
}

#mainArea   {

 border:1px solid black;
}
#mainArea  #playerContainer {


}

#mainArea #playdetails {


}

#mainArea #playdetails  #leftdetails{
 float:left;
border:1px dotted black;
}


#mainArea #playdetails  #rightdetails {
 float:right;
  border:1px dotted black;
}